{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block content %}
    <h1> Nos Produits</h1>
    <div class="row product">
    {%  for product in products%}
        <div class="col-md-4">
            <div class="product-item text-center">
                <a href="{{ path('product', {'slug' : product.slug} ) }}">
                     <img src="/uploads/{{ product.illustration }}" class="img-fluid" alt="{{ product.illustration }}">
                </a>
                <h5>{{ product.name }}</h5>
                <span class="product-subtitle">{{ product.subtitle }}</span>
                <span class="product-price">{{ (product.price / 100)|number_format(2, ',','.') }}€</span>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
